<% if notice %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %>
</div>
<% end %>


<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Contents:</b>
  <%= @post.contents %>
</p>

<p>
  <b>Owner:</b>
  <%= @post.owner.email %>
</p>

<% if user_signed_in?  %>
<div class="btn-group" data-toggle="buttons-checkbox">
  <%= link_to '編集', edit_post_path(@post),type:"button",class:"btn" %> 
  <%= link_to '削除', @post, method: :delete, data: { confirm: '削除してよろしいですか?' },type:"button",class:"btn" %>
</div>
<% end %>