<% if notice %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %>
</div>
<% end %>

<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span8">
        <h4>
          <%= @post.title %>
        </h4>
      </div>
      <div class="span4">
      </div>
    </div>
    <%=raw @post.markdown_contents %>

  </div>
</div>


<% if user_signed_in?  %>
<div class="btn-group" data-toggle="buttons-checkbox">
  <%= link_to '編集', edit_post_path(@post),type:"button",class:"btn" %> 
  <%= link_to '削除', @post, method: :delete, data: { confirm: '削除してよろしいですか?' },type:"button",class:"btn" %>
</div>
<% end %>